.menu-header {
  display: flex;
  flex-grow: 1;
  column-gap: size-desktop(20px);
  justify-content: space-between;
  align-items: center;

  @include vp--1919 {
    column-gap: 20px;
  }

  &__list-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: size-desktop(85px);
    align-items: center;

    @include vp--1919 {
      column-gap: 85px;
    }
  }

  &__item {
    color: $color-default-black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__item-link {
    position: relative;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: size-desktop(3px) size-desktop(10px);
    border: none;
    outline: none;
    background-color: $color-transparent;
    cursor: pointer;

    @include vp--1919 {
      padding: 3px 10px;
    }

    &:after {
      content: attr(header-text);
      position: absolute;
      transform: translate(-50%, 1rem);
      transition: transform 0.4s ease, opacity 0.4s ease;
      color: inherit;
      opacity: 0;
      left: 50%;
      width: 100%;
    }

    & span {
      display: inline-block;
      transform: translateY(0);
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    &:hover {
      &:after {
        transform: translate(-50%, 0px);
        opacity: 1;
      }

      & span {
        transform: translateY(-1rem);
        opacity: 0;
      }
    }
  }

  &__button-wrappers {
    display: flex;
    align-items: center;
    min-width: size-desktop(150px);
    width: size-desktop(150px);
    justify-content: flex-end;

    @include vp--1919 {
      min-width: 150px;
      width: 150px;
    }
  }

  &__button-enter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: size-desktop(14px) size-desktop(42px);
    color: $color-default-black;
    font-size: 1rem;
    font-weight: 700;
    background-color: $color-lavender;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: size-desktop(10px);
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;

    @include vp--1919 {
      padding: 14px 42px;
      border-radius: 10px;
    }

    &:hover {
      color: $color-default-white;
      background-color: $color-blue;
    }
  }
}
