.logo {
  width: 150px;
  height: 31px;
  max-width: 150px;
  min-width: 150px;
  min-height: 31px;
  max-height: 31px;
  padding: 3px;
  margin: 0;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
