.reviews-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: size-desktop(202px) 0 size-desktop(202px);

  @include vp--1919 {
    padding: 202px 0 202px;
  }

  @include vp--1689 {
    padding: 152px 0 202px;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    height: size-desktop(613px);

    @include vp--1919 {
      height: 613px;
    }

    @include vp--1689 {
      height: 500px;
    }
  }

  &__list {
    width: 100%;
    overflow: visible;
  }

  & .swiper-wrapper {
    display: flex;
  }

  &__list-item {
    display: flex;
    align-items: flex-end;
    max-width: size-desktop(822px);
    margin: 0 auto;
    position: relative;
    height: 100%;
    transition: transform 0.3s ease;
    transform: scale(0.9);

    @include vp--1919 {
      max-width: 822px;
    }

    @include vp--1689 {
      max-width: 700px;
    }

    @include vp--1439 {
      max-width: 550px;
    }

    &--active {
      transform: scale(1.2);
    }
  }

  &__item-name {
    position: absolute;
    left: 32%;
    top: 6%;
    z-index: 10;
    color: $color-blue;
    font-family: $ff-neue-machina;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 194%;
    letter-spacing: size-desktop(-2.88px);
    text-transform: uppercase;
    margin: 0;

    @include vp--1919 {
      letter-spacing: -2.88px;
    }

    @include vp--1439 {
      top: 11%;
      left: 25%;
    }
  }

  &__item-written-text {
    position: absolute;
    width: size-desktop(267px);
    height: size-desktop(100px);
    left: 19%;
    top: 20%;

    @include vp--1919 {
      width: 267px;
      height: 100px;
    }

    @include vp--1439 {
      top: 30%;
      left: 14%;
      width: 200px;
      height: 70px;
    }
  }

  &__item-info {
    position: absolute;
    transform: rotate(-10deg);
    padding: size-desktop(35px) size-desktop(25px) size-desktop(25px);
    background-color: $color-blue;
    bottom: size-desktop(85px);
    left: 10%;
    border-radius: size-desktop(21px);
    max-width: size-desktop(420px);
    z-index: 10;

    @include vp--1919 {
      padding: 35px 25px 25px;
      bottom: 85px;
      border-radius: 21px;
      max-width: 420px;
    }

    @include vp--1689 {
      max-width: 320px;
      bottom: 40px;
    }

    @include vp--1439 {
      left: 4%;
    }

    @include vp--1245 {
      max-width: 270px;
      left: 15%;
    }
  }

  &__item-nice-review {
    position: absolute;
    width: size-desktop(118px);
    height: size-desktop(118px);
    top: size-desktop(-60px);
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: review-icons-dancing;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: infinite;

    @include vp--1919 {
      width: 118px;
      height: 118px;
      top: -60px;
    }
  }

  &__item-first-image {
    margin: auto 0 size-desktop(40px) auto;
    width: size-desktop(478px);
    height: size-desktop(521px);

    @include vp--1919 {
      margin: auto 0 40px auto;
      width: 478px;
      height: 521px;
    }

    @include vp--1689 {
      width: 390px;
      height: 420px;
    }

    @include vp--1439 {
      width: 350px;
      height: 380px;
    }

    @include vp--1245 {
      width: 300px;
      height: 320px;
      margin: auto 0 auto auto;
    }
  }

  &__item-text {
    color: $color-default-white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    @include vp--1689 {
      font-size: 0.7rem;
    }
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    width: size-desktop(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: $color-transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: $color-blue;
    z-index: 100;

    @include vp--1919 {
      width: 80px;
    }
  }

  &__custom-navigation {
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  &__button-prev {
    left: 20%;

    & svg {
      transform: rotate(180deg);
    }
  }
  &__button-next {
    right: 20%;
  }
}

@keyframes review-icons-dancing {
  0%,
  100% {
    transform: translate(-50%, 0) scale(1);
  }
  25% {
    transform: translate(calc(-50% + 10px), 5px) scale(0.8);
  }
  50% {
    transform: translate(calc(-50% - 10px), -5px) scale(1.2);
  }
}
